# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
/.venv
venv

# Django media and static files
media/
static/

# Database files
*.sqlite3

# IDE files
.idea/
.vscode/
